body {
    background-color: lightcyan;
    padding: 10px;
    font-family: Helvetica, Arial, sans-serif;
}
section .title-block {
    width: 100%;
}

/* header */
header {
    background-color: lightgreen;
    padding: 10px 35px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
header h1 {
    font-weight: bold;
    font-size: 36px;
    color: green;
    margin: auto 0;
    align-items: center;
    flex: 1 30%;
    text-align: center;
}

/* nav */
header nav {
    margin: 7px 0;
    flex: 2 70%;
}
header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}
header nav ul li {
    padding: 3px 0;
}
header nav ul li a {
    margin: 0 30px;
    font-weight: normal;
    font-size: 20px;
    text-decoration: none;
    color: green;
}

/* hero */
.hero {
    background-image: url("../images/hero-bg.jpg");
    background-size: cover;
    display: flex;
    justify-content: right;
    flex-wrap: wrap;
}
.hero img {
    width: 210px;
    height: 210px;
    margin: 30px;
}

section h2 {
    text-align: center;
}
.bio {
    background-color: lightskyblue;
    padding: 10px;
    margin: 10px 0;
}

/* previous work */
.work {
    background-color: lightskyblue;
    display: block;
    padding: 10px;
    margin: 10px 0;
}
#first {
    height: 337px;
}
.container-main {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: 550px;
    gap: 10px 10px;
}
.example {
    width: 40%;
    height: 150px;
    border: solid 3px royalblue;
    margin: 10px;
}



.contact {
    background-color: lightskyblue;
    padding: 10px;
    margin: 10px 0;
}
footer {
    background-color: lightgreen;
    padding: 10px 35px;
    display: flex;
    justify-content: right;
    flex-wrap: wrap;
}
footer a {
    margin: 0 30px;
    font-weight: normal;
    font-size: 20px;
    text-decoration: none;
    color: green;
}